{% extends 'portfolio/base.html' %}

{% block content %}
<h2 class="mb-3">Riwayat Pendidikan & Organisasi</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Jenis</th>
            <th>Nama</th>
            <th>Tahun</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Pendidikan</td>
            <td>SMK XYZ</td>
            <td>2019 - 2022</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Pendidikan</td>
            <td>STT Terpadu Nurul Fikri</td>
            <td>2022 - Sekarang</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Organisasi</td>
            <td>Himpunan Mahasiswa</td>
            <td>2023</td>
        </tr>
    </tbody>
</table>
{% endblock %}
